
<form action="/payment/results">
  <label for="giraffe">APR</label>
  <input id="giraffe" type="text" name="users_apr">
  <label for="giraffe2">Number of years</label>
  <input id="giraffe2" type="text" name="users_years">
  <label for="giraffe3">Principal</label>
  <input id="giraffe3" type="text" name="users_principal">

  <button>Calculate monthly payment</button>
</form>
