
<form action="/random/results">
  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" name="user_min">

  <label for="giraffe2">Maximum</label>
  <input id="giraffe2" type="text" name="user_max">

  <button>Pick random number</button>
</form>
